@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner Section start */

.banner-container{
   
    /* max-width: 1320px; */
    height: 600px;
    background-image:url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: cover;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 32px;
    margin: 0 auto;
   
}
.banner-content h1{
    color: aliceblue;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
.banner-content p{
    color: aliceblue;
    text-align: center;
    font-weight: 400;
   line-height: 40px;
   font-size: 32px;

}
/* Banner-section-end */


/* 65% off-section start */

.sceond-section-container{
    width: 802.9px;
    height: 806px;

    margin: 0 auto;
    margin-top: 120px;
}
.second-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-content h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.second-section-content p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-top: 48px;
}
.second-section-content h3{
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.second-section-image-container{
    border: 1px solid tomato;
    margin-top: 48px;
    width: 802.9px;
    height: 500px;
    border: 1px solid rgb(224, 208, 206);
    border-style: dashed;
}
.second-section-image-container img{
    width: 100%;
    height: 100%;
}

/* 65% off-section End */

/* midnight-section-Start*/

.midnight-section-container{
    /* width: 1320px; */
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(images/Vectorrr.png);
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 120px;
    border-radius: 16px;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: overlay;

}
.leftside-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.rightside-content{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-content img{
    width: 349.16px;
    height: 464.65px;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;

}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400; 
    margin-top: 24px;
    margin-left: 100px;
}
#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    margin-right: 400px;
}
/* midnight-section-End*/

/* new park hotel section start */

.new-park-hotel-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
#place ,#date, #time{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: rgba(202, 32, 32, 0.912);
}
.new-park-hotel-section-content{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
#Join-now{
   color: rgb(243, 246, 248);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
background: rgb(255, 0, 0);
padding: 16px 32px 16px 32px;
border-radius: 8px;
margin-top: 48px;
border: none;
cursor: pointer;
}
#Join-now:hover{
    color: rgb(188, 201, 14);
}
.join-now-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.place-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.date-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* new park hotel section end */

/* coming soon section start */

.coming-soon-section-container{
    display: flex;
    flex-direction: row;
    max-width: 1320px;
    height: 463px;
}
.best-offer-content{
    width: 393px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 104px;

}
.best-offer-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-left: 50px;
    
}
.best-offer-content .coming-soon-description{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 22px;
}
.best-offer-content h3{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-left: 50px;
}
.coming-soon-image-section{
    width: 463px;
    height: 463px; 
    box-sizing: border-box;     
    border: 15px solid rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 180px;
    padding: 49px;
}
.coming-soon-image-section .img{
    border: 1px solid rgb(207, 182, 136);
    border-style: dotted;
} 

.coming-soon-rightside-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 118px;
}
.coming-soon-rightside-content img{
    width:140px;
    height: 140px;
    border:2px solid rgba(229, 229, 187, 0.911);
    border-style: dotted;
}
.coming-soon-rightside-content h3{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
margin-top: 112px;
}
.coming-soon-rightside-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 45px;
}
/* coming soon section End */

/* holiday section start  */
.holiday-section-container{
    width: 100%;
    height: 986px;
    margin-top: 100px;
    margin: 0,auto;
    position: relative;
    border-radius: 16px 0px 16px 16px;
}
.holiday-text-container{
    display: flex;
    flex-direction: column;
 ;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0,auto;
    
}
.holiday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-left: 220px;
}
.holiday-text-container h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-left: 220px;
}
#holiday{
    color: rgb(229, 30, 30);
}
.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    margin-left: 220px;
    text-align: center;
    margin-top: 28px;
}
.solid-color{
    width: 100%;
    height: 229px;
    background: red;
    position: absolute; 
    top:77%;
}
.giftbox{
    width: 796.46px;
    height: 662.07px;
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: 450px;
   
}
.girl-container{
    padding-left: 130px;
    padding-top: 77px;
}

/* holiday section End */

/* portfolio section start */

.portfolio-section-container{
    width: 100%;
    height: 1763px;
    margin: 0 auto;
    margin-top: 120px;
}
.portfolio-section-content h6{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.portfolio-paragraph{
    width: 896px;
    height: 64px;
}
.portfolio-section-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
}
.items{
    width: 424px;
    height: 450px
}
.items img{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(228, 211, 211);
    border-style: dashed;
}
/* portfolio section end */